<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.infrastructure.AddressMapper">

    <select id="selectAll" resultType="com.example.demo.domain.Address">
        SELECT * FROM addresses
    </select>

    <select id="select" resultType="com.example.demo.domain.Address">
        SELECT * FROM addresses
        WHERE id = CAST(#{id} AS INTEGER);
    </select>

    <insert id="insert" parameterType="com.example.demo.domain.Address">
        INSERT INTO addresses (id, zip_code, prefecture, city, street_address)
        VALUES (
        #{id, jdbcType=INTEGER},
        #{zipCode, jdbcType=VARCHAR},
        #{prefecture, jdbcType=VARCHAR},
        #{city, jdbcType=VARCHAR},
        #{streetAddress, jdbcType=VARCHAR}
        )
    </insert>

    <select id="getMaxId" resultType="Integer">
        SELECT MAX(id) FROM addresses;
    </select>

    <update id="update" parameterType="com.example.demo.domain.Address">
        UPDATE addresses
        SET zip_code = #{zipCode, jdbcType=VARCHAR},
        prefecture = #{prefecture, jdbcType=VARCHAR},
        city = #{city, jdbcType=VARCHAR},
        street_address = #{streetAddress, jdbcType=VARCHAR}
        WHERE id = #{id, jdbcType=INTEGER}
    </update>

</mapper>
